.cat_events {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  justify-content: flex-start;
}
.card {
  display: flex;
  flex-direction: column;
  width: 30%;
}
