.header {
  padding: 35px 40px;

  background-color: #b2dfdb;
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-content: center;

  ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 15px;

    li {
      font-weight: 600;
      font-size: 16px;
    }
  }
}

.title {
  width: 50%;
  font-size: 1.5rem;
  text-transform: uppercase;
}
